<!DOCTYPE html>
<html>

<head>
  <title>Point of Sale</title>
  <link rel="stylesheet" href="../static/css/jquery-ui.css">
  <link rel="stylesheet" href="../static/css/pos.css">
  <script src="../static/src/js/boot.js"></script>
  <script src="../static/src/js/core.js"></script>
  <script src="../static/src/js/chrome.js"></script>
  <script src="../static/src/js/data.js"></script>
  <script src="../static/src/js/dates.js"></script>
  <script src="../static/lib/jquery-1.6.2.min.js"></script>
  <script src="../static/lib/jquery-ui.min.js"></script>
  <script src="../static/lib/underscore-1.1.7.min.js"></script>
  <script src="../static/lib/json2.js"></script>
  <script src="../static/lib/backbone-0.5.1.min.js"></script>
  <script src="../static/js/pos.js"></script>
  <script src="../static/js/menuItems.js"></script>
</head>

<body>
  <div id="app"></div>
  <script src="/src/client.min.js"></script>

  <script type="text/template" id="category-template">
    <header>
      <ol class="breadcrum">
        <li>
          <a href="#"><img src="../static/img/home.png" class="homeimg"></a>
        </li>
        <% _.each(breadcrumb, function(category) { %>
          <li>
            <img src="../static/img/bc-arrow.png" class="bc-arrow">
            <a href="#category/<%= category.id %>"><%= category.name %></a>
          </li>
        <% }); %>
      </ol>
      <div class="searchbox">
        <input placeholder="Search Products">
        <img class="search-clear" src="../static/img/search_reset.gif">
      </div>
    </header>

    <div id="categories">
      <h4>Categories:</h4>
      <ol>
        <% _.each(categories, function(category) { %>
        <li><a href="#category/<%= category.id %>" class="button"><%= category.name %></a></li>
        <% }); %>
      </ol>
    </div>
  </script>

  <script type="text/template" id="product-template">
    <a href="#">
      <div class="product-img">
        <img src="data:image/gif;base64,<%= img %>">
        <span class="price-tag"><%= list_price %> &euro;</span>
      </div>
      <div class="product-name"><%= name %></div>
    </a>
  </script>

  <script type="text/template" id="orderline-template">
    <td><%= name %></td>
    <td><%= list_price.toFixed(2) %> &euro;</td>
    <td><%= discount.toFixed(2) %></td>
    <td><%= quantity.toFixed(0) %></td>
    <td><%= (list_price * (1 - discount/100) * quantity).toFixed(2) %> &euro;</td>
  </script>

</body>

</html>